<p id="notice"><%= notice %></p>
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>Memorize your trip!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <p><%= link_to new_trip_path , class: "btn btn-primary btn-large" do %>
    <i class="glyphicon glyphicon-plus"></i> Add Trip
  <% end %>
    </p>
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Latest Trips</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <% @trips.each do |trip| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=#{trip.trip_images_coords_str}&zoom=9&size=250x160&key=#{ENV["google_api"]}" %>
          <div class="caption">
            <h3><%= trip.name %></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>
            <%= link_to 'More Info', trip , class: "btn btn-primary"%>
            <%= link_to 'Edit', edit_trip_path(trip), class: "btn btn-default" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
